html, body {
	margin: 0;
	padding: 0
}

body {
	font:sans-serif;
	text-align: center;
	font-size: 13px;
}

p {
	margin: 0 10px 10px
}

a {
	padding: 5px;
	text-decoration: none;
	color: #000000;
}

a#maintext:link {
	color: #000000;
	font-size: 40px;
	text-decoration: none;
	text-align:center;
	font: serif;
	margin:40px 0 40px 0;
}

/**background: #fff url('../image/board_header.png');**/
div#header {
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100px;
}
div#header h1 {
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	text-align: center;
}

/***************** menu start****************/
/***************** menu end****************/
div#container {
	width:100%;
}

div#content p {
	line-height: 1.4
}

div#navigation {
	background: #81d8d0;
}

div#navigation {
	margin-top: 10px;
	margin-bottom: 10px;
}

div#navigation ul {
	align-content: center;
	list-style-type: none;
}

div#navigation li {
	margin: 5px 30px 0 50px;
	font-size: 10px;
	float: left;
}

div#navigation p {
	margin-top: 20px;
	margin-left: 15px
}
/*
div#navigation{float:left;width:150px;height:350px;margin-left:-700px}
*/
div#navigation {
	width: 100%;
	height: 20px;
	font-size: 10px;
}
table#boardmaintop{
	width: 300px;
	font-size: 13px;
}

div#category_body{
	width: 100%;
	height:400px;
	display: flex;
}
div#category_container{
	width: 100%;
	height:400px;
	display: flex;
}
div#category_content{
	width: 100%;
	height:400px;
	display: flex;
}
#category_content ul{
	list-style:none;
	display: flex;
	padding: 0px;
	width: 100%;
}
#category_content li{
	display: flex;
}

div#category_body{
	padding-top: 50px;
}

div#mainbanner_bottom_container{
	padding-top: 200px;
}

/*
div#extra{background:#CCC8B3;}
*/
div#footer {
	background: #81d8d0;
	align-self: baseline;
}

div#footer {
	clear: left;
	width: 100%;
	height: 100px;
}

div#footer p {
	margin: 0;
	padding-top:30px;
	padding-bottom:20px;
	font-size: 15px;
	font: serif;
}

div#container {
	width: 100%;
	margin: 0 auto
}

/*
div#wrapper{float:left;width:100%} #7DE3EB
margin-right: 100px;
*/
div#wrapper {
	
	width: 100%
}

div#content {
	margin: 50px 50px 0 50px
}

table#boardlist{
	align-content: center;
	margin: 0 200px 0 0
}
/*
board
*/
div#boardlist_info{
	text-align: left;
	font-size: 30px;
	font-weight: bold;
	padding: 20px 0 0 150px;
}
div#boardlist_info span{
	font-size: 12px;
	padding: 0 0 0 30px;
}
div#boardlist_info ul{
	list-style:none;
	padding: 0px;
	width: 100%;
}

#boardlist_info li#boardlist_top{
	float: left;
}

#boardlist_info li#boardwrite a{
	float: right;
	padding: 0 150px 0 0;
}
table#boardlist_paging{
	padding: 30px 0 30px 0;
}
table#boardlist tr#boardlist_tr{
	color: white;
}
